Client/Medicine.Clinic.Client.Model/Service References/PatientService/PatientService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DtoPatient">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Age" type="xs:int" />
          <xs:element minOccurs="0" name="Dob" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Dod" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsEdit" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mrn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sex" nillable="true" type="tns:DtoSex" />
          <xs:element minOccurs="0" name="Ssn" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoPatient" nillable="true" type="tns:DtoPatient" />
  <xs:complexType name="DtoEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoEntity" nillable="true" type="tns:DtoEntity" />
  <xs:complexType name="DtoSex">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsEdit" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoSex" nillable="true" type="tns:DtoSex" />
  <xs:complexType name="ArrayOfDtoPatient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoPatient" nillable="true" type="tns:DtoPatient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoPatient" nillable="true" type="tns:ArrayOfDtoPatient" />
</xs:schema>