Client/Medicine.Clinic.Client.Model/Service References/TestService/TestService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50534/EntityServices/TestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" />
  <xs:element name="FindTests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoSpecimen" nillable="true" type="q1:DtoTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="FindTestsResult" nillable="true" type="q2:ArrayOfDtoTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoSpecimen" nillable="true" type="q3:DtoTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="GetTestByCodeResult" nillable="true" type="q4:DtoTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestsByVisit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billingNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestsByVisitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="GetTestsByVisitResult" nillable="true" type="q5:ArrayOfDtoTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcreteTestsByVisit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billingNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcreteTestsByVisitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="GetConcreteTestsByVisitResult" nillable="true" type="q6:ArrayOfDtoConcreteTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestsCostByVisit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billingNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestsCostByVisitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTestsCostByVisitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>