Client/Medicine.Clinic.Client.Model/Service References/InterpretationService/InterpretationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50534/EntityServices/InterpretationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" />
  <xs:element name="FindConcreteDiagnosis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConcreteDiagnosisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="FindConcreteDiagnosisResult" nillable="true" type="q1:ArrayOfDtoConcreteDiagnosis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterpretationByOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterpretationByOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="GetInterpretationByOrderResult" nillable="true" type="q2:DtoInterpretation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConcreteDiagnosis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoConcreteDiagnosis" nillable="true" type="q3:DtoConcreteDiagnosis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConcreteDiagnosisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddConcreteDiagnosisResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConcreteDiagnosis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoConcreteDiagnosis" nillable="true" type="q4:DtoConcreteDiagnosis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConcreteDiagnosisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditConcreteDiagnosisResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditInterpretation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoInterpretation" nillable="true" type="q5:DtoInterpretation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditInterpretationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditInterpretationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>