Client/Medicine.Clinic.Client.Model/Service References/SpecimenService/SpecimenService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50534/EntityServices/SpecimenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" />
  <xs:element name="FindSpecimens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoSpecimen" nillable="true" type="q1:DtoSpecimen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSpecimensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="FindSpecimensResult" nillable="true" type="q2:ArrayOfDtoSpecimen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSpecimen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoSpecimen" nillable="true" type="q3:DtoSpecimen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSpecimenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditSpecimenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecimenByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecimenByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="GetSpecimenByCodeResult" nillable="true" type="q4:DtoSpecimen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>