Client/Medicine.Clinic.Client.Model/Service References/DoctorService/DoctorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50534/EntityServices/DoctorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" />
  <xs:element name="FindDoctors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoDoctor" nillable="true" type="q1:DtoDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDoctorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="FindDoctorsResult" nillable="true" type="q2:ArrayOfDtoDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoDoctor" nillable="true" type="q3:DtoDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDoctorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>