Client/Medicine.Clinic.Client.Model/Service References/VisitService/VisitService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SearchVisits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchMrn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchPatientFirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchBllingNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVisitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchVisitsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchNewVisitProperties">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchNewVisitPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchNewVisitPropertiesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBillingNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditVisit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billingNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mrn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doctorCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apartmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditVisitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditVisitResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientMrn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billingNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientMrnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPatientMrnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billingNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDoctorCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billingNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApartmentIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultDoctorCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apartmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultDoctorCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDefaultDoctorCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>