Client/Medicine.Clinic.Client.Model/Service References/SexService/SexService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50534/EntityServices/SexService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" />
  <xs:element name="FindSexes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoSex" nillable="true" type="q1:DtoSex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSexesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="FindSexesResult" nillable="true" type="q2:ArrayOfDtoSex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoSex" nillable="true" type="q3:DtoSex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditSexResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSexByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSexByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="GetSexByCodeResult" nillable="true" type="q4:DtoSex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>