Client/Medicine.Clinic.Client.Model/Service References/OrderService/OrderService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50534/EntityServices/OrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" />
  <xs:element name="EditOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoOrder" nillable="true" type="q1:DtoOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoOrder" nillable="true" type="q2:DtoOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="FindOrdersResult" nillable="true" type="q3:ArrayOfDtoOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrderNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersByVisit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billingNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersByVisitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="GetOrdersByVisitResult" nillable="true" type="q4:ArrayOfDtoOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConcreteTestsByOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConcreteTestsByOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="FindConcreteTestsByOrderResult" nillable="true" type="q5:ArrayOfDtoConcreteTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConcreteSpecimensByOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConcreteSpecimensByOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="FindConcreteSpecimensByOrderResult" nillable="true" type="q6:ArrayOfDtoConcreteSpecimen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConcreteTubesByOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConcreteTubesByOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="FindConcreteTubesByOrderResult" nillable="true" type="q7:ArrayOfDtoConcreteTube" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConcreteIndicationsByOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConcreteIndicationsByOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="FindConcreteIndicationsByOrderResult" nillable="true" type="q8:ArrayOfDtoConcreteIndication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTestSexAllowed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoTestSexAllowed" nillable="true" type="q9:DtoTestSexAllowed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTestSexAllowedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTestSexAllowedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTestSexAllowedsByTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTestSexAllowedsByTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="SearchTestSexAllowedsByTestResult" nillable="true" type="q10:ArrayOfDtoTestSexAllowed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTestSexAllowed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoTestSexAllowed" nillable="true" type="q11:DtoTestSexAllowed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTestSexAllowedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTestSexAllowedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConcreteTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoConcreteTest" nillable="true" type="q12:DtoConcreteTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConcreteTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddConcreteTestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConcreteTube">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoConcreteTube" nillable="true" type="q13:DtoConcreteTube" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConcreteTubeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddConcreteTubeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConcreteSpecimen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoConcreteSpecimen" nillable="true" type="q14:DtoConcreteSpecimen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConcreteSpecimenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddConcreteSpecimenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTestTubeAttach">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoTestTubeAttach" nillable="true" type="q15:DtoTestTubeAttach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTestTubeAttachResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecimenTubeAttach">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoSpecimenTubeAttach" nillable="true" type="q16:DtoSpecimenTubeAttach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecimenTubeAttachResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcreteTestByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcreteTestByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="GetConcreteTestByCodeResult" nillable="true" type="q17:DtoConcreteTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcreteSpecimenByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcreteSpecimenByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="GetConcreteSpecimenByCodeResult" nillable="true" type="q18:DtoConcreteSpecimen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcreteTubeByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcreteTubeByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="GetConcreteTubeByCodeResult" nillable="true" type="q19:DtoConcreteTube" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConcreteIndication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoConcreteIndication" nillable="true" type="q20:DtoConcreteIndication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConcreteIndicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddConcreteIndicationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestTubeAttachesStringByTube">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="concreteTubeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestTubeAttachesStringByTubeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTestTubeAttachesStringByTubeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecimenTubeAttachesBySpecimen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="concreteSpecimenCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecimenTubeAttachesBySpecimenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="GetSpecimenTubeAttachesBySpecimenResult" nillable="true" type="q21:ArrayOfDtoSpecimenTubeAttach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConcreteTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoConcreteTest" nillable="true" type="q22:DtoConcreteTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConcreteTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditConcreteTestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConcreteTube">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoConcreteTube" nillable="true" type="q23:DtoConcreteTube" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConcreteTubeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditConcreteTubeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConcreteSpecimen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoConcreteSpecimen" nillable="true" type="q24:DtoConcreteSpecimen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConcreteSpecimenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditConcreteSpecimenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConcreteIndication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoConcreteIndication" nillable="true" type="q25:DtoConcreteIndication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConcreteIndicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditConcreteIndicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTestTubeAttach">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTestTubeAttachResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpecimenTubeAttach">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpecimenTubeAttachResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConcreteTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConcreteTestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConcreteSpecimen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConcreteSpecimenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConcreteTube">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConcreteTubeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConcreteIndication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConcreteIndicationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>