Client/Medicine.Clinic.Client.Model/Service References/OrderService/OrderService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DtoOrder">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClinicalInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Visit" nillable="true" type="tns:DtoVisit" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoOrder" nillable="true" type="tns:DtoOrder" />
  <xs:complexType name="DtoEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoEntity" nillable="true" type="tns:DtoEntity" />
  <xs:complexType name="DtoVisit">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Apartment" nillable="true" type="tns:DtoApartment" />
          <xs:element minOccurs="0" name="BillingNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Doctor" nillable="true" type="tns:DtoDoctor" />
          <xs:element minOccurs="0" name="Patient" nillable="true" type="tns:DtoPatient" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoVisit" nillable="true" type="tns:DtoVisit" />
  <xs:complexType name="DtoApartment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="BedId" type="xs:int" />
          <xs:element minOccurs="0" name="Clinic" nillable="true" type="tns:DtoClinic" />
          <xs:element minOccurs="0" name="IsEdit" type="xs:boolean" />
          <xs:element minOccurs="0" name="RoomId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoApartment" nillable="true" type="tns:DtoApartment" />
  <xs:complexType name="DtoClinic">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsEdit" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoClinic" nillable="true" type="tns:DtoClinic" />
  <xs:complexType name="DtoDoctor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Clinic" nillable="true" type="tns:DtoClinic" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsEdit" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoDoctor" nillable="true" type="tns:DtoDoctor" />
  <xs:complexType name="DtoPatient">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Age" type="xs:int" />
          <xs:element minOccurs="0" name="Dob" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Dod" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsEdit" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mrn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sex" nillable="true" type="tns:DtoSex" />
          <xs:element minOccurs="0" name="Ssn" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoPatient" nillable="true" type="tns:DtoPatient" />
  <xs:complexType name="DtoSex">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsEdit" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoSex" nillable="true" type="tns:DtoSex" />
  <xs:complexType name="ArrayOfDtoOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoOrder" nillable="true" type="tns:DtoOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoOrder" nillable="true" type="tns:ArrayOfDtoOrder" />
  <xs:complexType name="ArrayOfDtoConcreteTest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoConcreteTest" nillable="true" type="tns:DtoConcreteTest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoConcreteTest" nillable="true" type="tns:ArrayOfDtoConcreteTest" />
  <xs:complexType name="DtoConcreteTest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Order" nillable="true" type="tns:DtoOrder" />
          <xs:element minOccurs="0" name="Test" nillable="true" type="tns:DtoTest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoConcreteTest" nillable="true" type="tns:DtoConcreteTest" />
  <xs:complexType name="DtoTest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cost" type="xs:double" />
          <xs:element minOccurs="0" name="DefaultSpecimen" nillable="true" type="tns:DtoSpecimen" />
          <xs:element minOccurs="0" name="IsEdit" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoTest" nillable="true" type="tns:DtoTest" />
  <xs:complexType name="DtoSpecimen">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DefaultTube" nillable="true" type="tns:DtoTube" />
          <xs:element minOccurs="0" name="IsEdit" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoSpecimen" nillable="true" type="tns:DtoSpecimen" />
  <xs:complexType name="DtoTube">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsEdit" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Volume" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoTube" nillable="true" type="tns:DtoTube" />
  <xs:complexType name="ArrayOfDtoConcreteSpecimen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoConcreteSpecimen" nillable="true" type="tns:DtoConcreteSpecimen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoConcreteSpecimen" nillable="true" type="tns:ArrayOfDtoConcreteSpecimen" />
  <xs:complexType name="DtoConcreteSpecimen">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CollectedDt" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Order" nillable="true" type="tns:DtoOrder" />
          <xs:element minOccurs="0" name="Specimen" nillable="true" type="tns:DtoSpecimen" />
          <xs:element minOccurs="0" name="Volume" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoConcreteSpecimen" nillable="true" type="tns:DtoConcreteSpecimen" />
  <xs:complexType name="ArrayOfDtoConcreteTube">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoConcreteTube" nillable="true" type="tns:DtoConcreteTube" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoConcreteTube" nillable="true" type="tns:ArrayOfDtoConcreteTube" />
  <xs:complexType name="DtoConcreteTube">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsEdit" type="xs:boolean" />
          <xs:element minOccurs="0" name="Order" nillable="true" type="tns:DtoOrder" />
          <xs:element minOccurs="0" name="ReceivedDt" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Tube" nillable="true" type="tns:DtoTube" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoConcreteTube" nillable="true" type="tns:DtoConcreteTube" />
  <xs:complexType name="ArrayOfDtoConcreteIndication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoConcreteIndication" nillable="true" type="tns:DtoConcreteIndication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoConcreteIndication" nillable="true" type="tns:ArrayOfDtoConcreteIndication" />
  <xs:complexType name="DtoConcreteIndication">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Indication" nillable="true" type="tns:DtoIndication" />
          <xs:element minOccurs="0" name="Order" nillable="true" type="tns:DtoOrder" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoConcreteIndication" nillable="true" type="tns:DtoConcreteIndication" />
  <xs:complexType name="DtoIndication">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsEdit" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoIndication" nillable="true" type="tns:DtoIndication" />
  <xs:complexType name="DtoTestSexAllowed">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Sex" nillable="true" type="tns:DtoSex" />
          <xs:element minOccurs="0" name="Test" nillable="true" type="tns:DtoTest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoTestSexAllowed" nillable="true" type="tns:DtoTestSexAllowed" />
  <xs:complexType name="ArrayOfDtoTestSexAllowed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoTestSexAllowed" nillable="true" type="tns:DtoTestSexAllowed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoTestSexAllowed" nillable="true" type="tns:ArrayOfDtoTestSexAllowed" />
  <xs:complexType name="DtoTestTubeAttach">
    <xs:sequence>
      <xs:element minOccurs="0" name="DtoConcreteTest" nillable="true" type="tns:DtoConcreteTest" />
      <xs:element minOccurs="0" name="DtoConctereTube" nillable="true" type="tns:DtoConcreteTube" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoTestTubeAttach" nillable="true" type="tns:DtoTestTubeAttach" />
  <xs:complexType name="DtoSpecimenTubeAttach">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConcreteSpecimen" nillable="true" type="tns:DtoConcreteSpecimen" />
      <xs:element minOccurs="0" name="ConcreteTube" nillable="true" type="tns:DtoConcreteTube" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoSpecimenTubeAttach" nillable="true" type="tns:DtoSpecimenTubeAttach" />
  <xs:complexType name="ArrayOfDtoSpecimenTubeAttach">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoSpecimenTubeAttach" nillable="true" type="tns:DtoSpecimenTubeAttach" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoSpecimenTubeAttach" nillable="true" type="tns:ArrayOfDtoSpecimenTubeAttach" />
</xs:schema>