Client/Medicine.Clinic.Client.Model/Service References/ApartmentService/ApartmentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50534/EntityServices/ApartmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" />
  <xs:element name="FindApartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoApartment" nillable="true" type="q1:DtoApartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindApartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="FindApartmentsResult" nillable="true" type="q2:ArrayOfDtoApartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoApartment" nillable="true" type="q3:DtoApartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddApartmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>