Client/Medicine.Clinic.Client.Model/Service References/TubeService/TubeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50534/EntityServices/TubeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" />
  <xs:element name="EditTube">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoTube" nillable="true" type="q1:DtoTube" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTubeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTubeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTubes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoTube" nillable="true" type="q2:DtoTube" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTubesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="FindTubesResult" nillable="true" type="q3:ArrayOfDtoTube" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTubeByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTubeByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="GetTubeByCodeResult" nillable="true" type="q4:DtoTube" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>