Client/Medicine.Clinic.Client.Model/Service References/IndicationService/IndicationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50534/EntityServices/IndicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" />
  <xs:element name="FindIndications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoIndication" nillable="true" type="q1:DtoIndication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindIndicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="FindIndicationsResult" nillable="true" type="q2:ArrayOfDtoIndication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditIndication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Medicine.Clinic.Service" minOccurs="0" name="dtoIndication" nillable="true" type="q3:DtoIndication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditIndicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditIndicationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>